<div style="min-height: 100vh">
	<section class="product-area shop-sidebar shop section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12">
					<div class="shop-sidebar">
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<div class="row">
						@if (products.length > 0) {
							@for (product of products; track product.id) {
								<div class="col-lg-4 col-md-6 col-12">
									<div class="single-product">
										<div class="product-img">
											<div class="button-head">
												<div class="product-action-2">
													<a class="btn btn-success" title="Add to cart" (click)="addProduct(product)">Add to cart</a>
												</div>
											</div>
										</div>
										<div class="product-content">
											<h3><a href="/" >{{ product.name }}</a></h3>
											<p style="padding-left:4%;">${{ product.price }}</p>
										</div>
									</div>
								</div>
							}
						} @else {
							<h4 class="text-warning" style="margin:100px auto;">There are no products.</h4>
						}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
