<div class="account-pages my-5 pt-sm-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="bg-primary-subtle">
						<div class="row">
							<div class="col-7">
								<div class="text-primary p-4">
									<h5 class="text-primary">Bienvenido de nuevo !</h5>
									<p>Inicia sesión para continuar en el panel.</p>
								</div>
							</div>
							<div class="col-5 align-self-end">
								<img src="images/profile-img.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="card-body pt-0">
						<div>
							<a routerLink="/">
								<div class="avatar-md profile-user-wid mb-4">
									<span class="avatar-title rounded-circle bg-light">
										<img src="images/logo.svg" alt="" class="rounded-circle" height="34">
									</span>
								</div>
							</a>
						</div>
						<div class="p-2">
							<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
								<div class="mb-3">
									<label for="email">Usuario</label>
									<input type="email" formControlName="email" class="form-control" id="email"
										placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
									@if (submitted && f.email.errors) {
										<div class="invalid-feedback">
											@if (f.email.errors.required) {
												<div>Correo es requirido</div>
											}
										</div>
									}
								</div>
								<div class="mb-3">
									<label for="password">Clave</label>
									<div class="input-group auth-pass-inputgroup">
										<input type="password" class="form-control" formControlName="password"
											id="password" placeholder="Ingresar clave"
											[ngClass]="{ 'is-invalid': submitted && f.password.errors }">
										@if (submitted && f.password.errors) {
											<div class="invalid-feedback">
												@if (f.password.errors.required) {
													<span>Clave  es requirido</span>
												}
											</div>
										}
									</div>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="remember-check">
									<label class="form-check-label" for="remember-check">
										Remember me
									</label>
								</div>
								<div id="elmLoader" class="text-center d-none">
									<div class="spinner-border text-primary avatar-sm" role="status">
										<span class="visually-hidden">Loading...</span>
									</div>
								</div>
								<div class="mt-3 d-grid">
									<button class="btn btn-primary" type="submit" [disabled]="form.invalid">Log In</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="mt-5 text-center">
					<p>© {{ year }} JadeGames. Creado por <i class="mdi mdi-heart text-danger"></i> by KiritoM&#64;ster</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end page -->
